
{% extends 'base.html' %}

{% load crispy_forms_tags %}

    
 {% block content %} 


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags == 'alert-danger' %} 
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Cadastro Aluno</h1>
    <form method="post">
            
            {% csrf_token %}
            {{ form | crispy }}  
            <button type="submit">Cadastrar</button>
    </form>
    
{% endblock %}